{% extends "core/base.html" %}
{% load i18n %}

{% block main %}
{% if title %}
<div class="jumbotron">
  {{ title }}
</div>
{% endif %}
<div class="row">
  <div class="col-md-10 offset-md-1">
    {% if address_list %}
    <table class="table table-sm table-hover table-responsive">
      <thead>
        <tr>
          <th>{% trans "Actions" %}</th>
          <th>{% trans "Address" %}</th>
          <th>{% trans "Phone" %}</th>
          <th>{% trans "Email" %}</th>
          <th>{% trans "Active" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for address in address_list %}
        <tr>
          <td><a href={% url "accounts:company_address_update" address.content_object.number address.id %}>{% trans "Edit" %}</a></td>
          <td>{{ address }}</td>
          <td>{{ address.phone }}</td>
          <td>{{ address.email }}</td>
          <td>{{ address.is_active|yesno:_("Yes,No")  }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h5>{% trans "No Addresses available." %}</h5>
    {% endif %}
  </div>
</div>
{% if perms.accounts.add_address %}
<div class="row">
  <div class="col-md-12">
    <a class='btn btn-outline-primary col-md-2 offset-md-10'
      href="{% url 'accounts:company_address_add' number %}">
      {% trans "Add Address" %}
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
