{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}
<div class="row">
  <form class="col-md-4 offset-md-4" method='post'>{% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Your submition has errors" %}
      <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="{{ form.type.id_for_label }}" class="form-control-label">
        {% trans "Address Type" %}:
      </label>
      {% if form.type.errors %}
        {{ form.type | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.type.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.type | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{ form.address1.id_for_label }}" class="form-control-label">
        {% trans "Address 1" %}:
      </label>
      {% if form.address1.errors %}
        {{ form.address1 | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.address1.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.address1 | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.address2.id_for_label }}" class="form-control-label">
        {% trans "Address 2" %}:
      </label>
      {% if form.address2.errors %}
        {{ form.address2 | add_class:"form-control" | add_class:"is-invalid" }}
        <div class="invalid-feedback">
        {% for error in form.address2.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.address2 | add_class:"form-control" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.region.id_for_label }}" class="form-control-label">
        {% trans "Region" %}:
      </label>
      {% if form.region.errors %}
        {{ form.region | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.region.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.region | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.city.id_for_label }}" class="form-control-label">
        {% trans "City" %}:
      </label>
      {% if form.city.errors %}
        {{ form.city | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.city.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.city | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.phone.id_for_label }}" class="form-control-label">
        {% trans "Phone" %}:
      </label>
      {% if form.phone.errors %}
        {{ form.phone | add_class:"form-control" | add_class:"is-invalid" }}
        <div class="invalid-feedback">
        {% for error in form.phone.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.phone | add_class:"form-control" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.extension.id_for_label }}" class="form-control-label">
        {% trans "Extension" %}:
      </label>
      {% if form.extension.errors %}
        {{ form.extension | add_class:"form-control" | add_class:"is-invalid" }}
        <div class="invalid-feedback">
        {% for error in form.extension.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.extension | add_class:"form-control" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.fax.id_for_label }}" class="form-control-label">
        {% trans "Fax" %}:
      </label>
      {% if form.fax.errors %}
        {{ form.fax | add_class:"form-control" | add_class:"is-invalid" }}
        <div class="invalid-feedback">
        {% for error in form.fax.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.fax | add_class:"form-control" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.email.id_for_label }}" class="form-control-label">
        {% trans "Email" %}:
      </label>
      {% if form.email.errors %}
        {{ form.email | add_class:"form-control" | add_class:"is-invalid" }}
        <div class="invalid-feedback">
        {% for error in form.email.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.email | add_class:"form-control" }}
      {% endif %}
    </div>

    <div class="form-check">
    {{form.is_active | add_class:"form-check-input" }}
      <label for="{{ form.is_active.id_for_label }}" class="form-check-label">
        {% trans "Active" %}
      </label>
    </div>

    <div class="form-group">
      {% if form.company %}
        <a href="{% url "accounts:company_addresses" form.company.number %}" class="btn btn-outline-primary col-md-12">{% trans "Addresses" %}</a>
      {% else %}
        <p>{% trans "Support for profile addresses comming soon." %}</p>
      {% endif %}
      <input class="btn btn-primary col-md-12" type="submit" value="{% trans 'Save'%}" />
    </div>
  </form>
</div>
{% endblock %}
