{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}
<div class="row">
  <form class="col-md-4 offset-md-4" method='post'>{% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Your submition has errors" %}
      <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="form-group">
      <label for="{{form.name.id_for_label }}" class="form-control-label">
        {% trans "Name" %}:
      </label>
      {% if form.name.errors %}
        {{ form.name | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.name.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.name | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.number.id_for_label }}" class="form-control-label">
        {% trans "Number" context "company number" %}:
      </label>
      {% if form.number.errors %}
        {{ form.number | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
          {% for error in form.number.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% else %}
        {{ form.number | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>

    <div class="form-check form-check-inline">
      {{ form.is_provider | add_class:"form-check-input" }}
      <label for="{{form.is_provider.id_for_label }}" class="form-check-label">
        {% trans "Provider" %}
      </label>
      {{ form.is_renter | add_class:"form-check-input" }}
      <label for="{{form.is_renter.id_for_label }}" class="form-check-label">
        {% trans "Renter" %}
      </label>
      {{ form.is_buyer | add_class:"form-check-input" }}
      <label for="{{form.is_buyer.id_for_label }}" class="form-check-label">
        {% trans "Buyer" %}
      </label>
    </div>
    <div class="form-check">
    {{form.is_active | add_class:"form-check-input" }}
      <label for="{{ form.is_active.id_for_label }}" class="form-check-label">
        {% trans "Active" %}
      </label>
    </div>
    <div class="form-group">
      <a href="{% url "accounts:companies"%}" class="btn btn-outline-primary col-md-12">{% trans "Companies" %}</a>
      {% if form.number.value %}
        <a href="{% url "accounts:company_addresses" form.number.value %}" class="btn btn-outline-primary col-md-12">{% trans "Addresses" %}</a>
      {% endif %}
        <input class="btn btn-primary col-md-12" type="submit" value="{% trans 'Save'%}" />
    </div>
  </form>
</div>
{% endblock %}
