{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}
{% if title %}
<div class="jumbotron">
  {{ title }}
</div>
{% endif %}
<div class="row">
  <div class="col-md-9 offset-md-2">
    {% if company_list %}
    <table class="table table-sm table-hover table-responsive">
      <thead>
        <tr>
          <th>{% trans "Actions" %}</th>
          <th>{% trans "Number" context "company number" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Provider" %}</th>
          <th>{% trans "Renter" %}</th>
          <th>{% trans "Buyer" %}</th>
          <th>{% trans "Active" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for company in company_list %}
        <tr>
          <td>
            {% if perms.accounts.change_company %}
            <a href={% url "accounts:company_update" company.number %}>
              {% trans "Edit" %}
            </a>
            {% endif %}
          </td>
          <td>{{ company.number }}</td>
          <td>{{ company.name }}</td>
          <td><input type="checkbox" disabled {% if company.is_provider %}checked{% endif %} /></td>
          <td><input type="checkbox" disabled {% if company.is_renter %}checked{% endif %} /></td>
          <td><input type="checkbox" disabled {% if company.is_buyer %}checked{% endif %} /></td>
          <td>{{ company.is_active|yesno:_("Yes,No") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h5>{% trans "No Companies available." %}</h5>
    {% endif %}
  </div>
</div>
{% if perms.accounts.add_company %}
<div class="row">
  <div class="col-md-12">
    <a class='btn btn-outline-primary col-md-2 offset-md-10'
      href="{% url "accounts:company_add" %}">
      {% trans "Add Company" %}
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
