{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}

<div class="row">
  <form class="col-md-4 offset-md-4" method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {% if next %}
    <div class="alert alert-warning">
      {% if user.is_authenticated %}
        {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
      {% else %}
        {%trans "Please login to see this page." %}
      {% endif %}
    </div>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}


    <div class="form-group {% if form.email.errors %} is-invalid {% endif %}">
      {% if form.username.errors %}
      <ul>
        {% for error in form.username.errors %}
        <li class="invalid-feedback">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="{{form.email.id_for_label }}" class="form-control-label">
        {% trans "Username" %}:
      </label>
      {{ form.username | add_class:"form-control" | attr:"required" }}
    </div>

    <div class="form-group {% if form.password.errors %} is-invalid {% endif %}">
      {% if form.password.errors %}
      <ul>
        {% for error in form.password.errors %}
        <li class="invalid-feedback">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="{{form.password.id_for_label}}">
        {% trans "Password" %}:
      </label>
      {{ form.password | add_class:"form-control" | attr:"required" }}
    </div>
    <div class="form-group">
      <input class="btn btn-primary col-md-12" type="submit" value="{% trans 'Login'%}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
</div>

{% endblock %}
