{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}
<div class="row">
  <form class="col-md-4 offset-md-4" method='post'>{% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Your submition has errors" %}
      <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="form-group">
      <label for="{{form.number.id_for_label }}" class="form-control-label">
        {% trans "Number" %}:
      </label>
      {% if form.number.errors %}
        {{ form.number | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.number.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.number | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      {# TODO: make this a date picker #}
      <label for="{{form.purchase_date.id_for_label }}" class="form-control-label">
        {% trans "Purchase Date" %}:
      </label>
      {% if form.purchase_date.errors %}
        {{ form.purchase_date | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.purchase_date.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.purchase_date | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.company.id_for_label }}" class="form-control-label">
        {% trans "Company" %}:
      </label>
      {% if form.company.errors %}
        {{ form.company | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.company.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.company | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.currency.id_for_label }}" class="form-control-label">
        {% trans "Currency" %}:
      </label>
      {% if form.currency.errors %}
        {{ form.currency | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.currency.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.currency | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.price.id_for_label }}" class="form-control-label">
        {% trans "Price" %}:
      </label>
      {% if form.price.errors %}
        {{ form.price | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.price.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.price | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.price.id_for_label }}" class="form-control-label">
        {% trans "Receipts" %}:
      </label>
      {% if form.receipts.errors %}
        {{ form.receipts | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.receipts.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.receipts | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
        <input class="btn btn-primary col-md-12" type="submit" value="{% trans 'Save'%}" />
    </div>

  </form>
</div>

{% endblock %}
