{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load bill_status %}
{% load currency %}

{% block main %}
{% if title %}
<div class="jumbotron">
  {{ title }}
</div>
{% endif %}
<div class="row">
  <div class="col-md-9 offset-md-2">
    {% if bill_list %}
    <table class="table table-sm table-hover table-responsive">
      <thead>
        <tr>
          <th>{% trans "Actions" %}</th>
          <th>{% trans "Number" %}</th>
          <th>{% trans "Purchase Date" %}</th>
          <th>{% trans "Company" %}</th>
          <th>{% trans "Status" %}</th>
          <th>{% trans "Currency" %}</th>
          <th>{% trans "Price" %}</th>
          <th>{% trans "Receipts" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for bill in bill_list %}
        <tr>
          <td>
            {% if perms.purchases.change_bill %}
            <a href={% url "purchases:bill_update" bill.number %}>
              {% trans "Edit" %}
            </a>
            {% endif %}
          </td>
          <td>{{ bill.number }}</td>
          <td>{{ bill.purchase_date }}</td>
          <td>{{ bill.company }}</td>
          <td>{{ bill.status|get_bill_status_display }}</td>
          <td>{{ bill.currency }}</td>
          <td>{{ bill.price }}</td>
          <td>
            {% for r in bill.receipt_set.all %}
             <a href="{% url 'purchases:products' r.number %}">{{ r }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h5>{% trans "No Bills available." %}</h5>
    {% endif %}
  </div>
</div>
{% if perms.purchases.add_bill %}
<div class="row">
  <div class="col-md-12">
    <a class='btn btn-outline-primary col-md-2 offset-md-10'
      href="{% url "purchases:bill_add" %}">
      {% trans "Create Bill" %}
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
