{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}
{% if title %}
<div class="jumbotron">
  {{ title }}
</div>
{% endif %}
<div class="row">
  <div class="col-md-9 offset-md-2">
    {% if product_list %}
    <table class="table table-sm table-hover table-responsive">
      <thead>
        <tr>
          <th>{% trans "Actions" %}</th>
          <th>{% trans "Serial Number" %}</th>
          <th>{% trans "Receipt" %}</th>
          <th>{% trans "Bill" %}</th>
          <th>{% trans "Price" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
        <tr>
          <td>
            {% if perms.purchases.change_product %}
            <a href="{% url 'purchases:product_update' product.receipt.number product.serial_number %}">
              {% trans "Edit" %}
            </a>
            {% endif %}
          </td>
          <td>{{ product.serial_number }}</td>
          <td>{{ product.receipt }}</td>
          <td>{{ product.receipt.bill }}</td>
          <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h5>{% trans "No Products available." %}</h5>
    {% endif %}
  </div>
</div>
{% if perms.purchases.add_product %}
<div class="row">
  <div class="col-md-12">
    <a class='btn btn-outline-primary col-md-2 offset-md-10'
      href="{% url 'purchases:product_add' receipt_number %}">
      {% trans "Add Product" %}
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
