{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block main %}
<div class="row">
  <form class="col-md-4 offset-md-4" method='post'>{% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Your submition has errors" %}
      <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="form-group">
      <label for="{{ form.serial_number.id_for_label }}" class="form-control-label">
        {% trans "Serial Number" %}:
      </label>
      {% if form.serial_number.errors %}
        {{ form.serial_number | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.serial_number.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.serial_number | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.price.id_for_label }}" class="form-control-label">
        {% trans "Price" %}:
      </label>
      {% if form.price.errors %}
        {{ form.price | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.price.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.price | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{form.receipt.id_for_label }}" class="form-control-label">
        {% trans "Receipt" %}:
      </label>
      {% if form.receipt.errors %}
        {{ form.receipt | add_class:"form-control" | add_class:"is-invalid" | attr:"required"}}
        <div class="invalid-feedback">
        {% for error in form.receipt.errors %}
          <p class="form-control-feedback">{{ error }}</p>
        {% endfor %}
        </div>
      {% else %}
        {{ form.receipt | add_class:"form-control" | attr:"required" }}
      {% endif %}
    </div>
    <div class="form-group">
      <a href="{% url "purchases:products" receipt_number %}" class="btn btn-outline-primary col-md-12">{% trans "Products" %}</a>
      <input class="btn btn-primary col-md-12" type="submit" value="{% trans 'Save'%}" />
    </div>

  </form>
</div>

{% endblock %}
