{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap-4/css/bootstrap.css' %}">
</head>

<body>
  <div class="container">
    <header class="header clearfix">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url "core:home" %}">Tektronic</a>
        <button class="navbar-toggler" type="buton" data-toggle="collapse"
          data-target="#mainNavMenu" aria-controls="mainNavMenu"
          aria-expanded="false" aria-label="Toggle navigations">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavMenu">
          <ul class="navbar-nav mr-auto">
            {% if perms.accounts.can_see_company_link %}
            <li class="nav-item {{ company_link_class }}">
              <a class="nav-link" href="{% url 'accounts:companies' %}">
                {% trans "Companies" %}
              </a>
            </li>
            {% endif %}
            {% if perms.purchases.can_see_purchases_link%}
            <li class="nav-item dropdown {{ purchases_ddl }}">
              <a class="nav-link dropdown-toogle"
                href="#" id="purchasesDDMenu" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% trans "Purchases" %}
              </a>
              <div class="dropdown-menu" aria-labelledby="purchasesDDMenu">
                <a class="dropdown-item {{ purchases_bills }}"
                  href="{% url 'purchases:bills' %}">
                  {% trans "Bills" %}
                </a>
              </div>
            </li>
            {% endif %}

            {% if perms.warehouse.can_see_warehouse_link %}
            <li class="nav-item dropdown {{ warehouse_ddl }}">
              <a class="nav-link dropdown-toogle"
                href="#" id="warehouseDDMenu" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% trans "Warehouse" %}
              </a>
              <div class="dropdown-menu" aria-labelledby="warehouseDDMenu">
                <a class="dropdown-item {{ warehouse_products }}" href="#">
                  {% trans "Products" %}
                </a>
                <a class="dropdown-item {{ warehouse_add}}" href="#">
                  {% trans "Add Products" %}
                </a>
              </div>
            </li>
            {% endif %}
          </ul>
          <div class="navbar-nav ml-auto">
            {% if not user.is_authenticated %}
            <a class="nav-item nav-link {{ login_active }}" href="{% url "accounts:login" %}">
              {% trans "Login" %}
            </a>
            {% else %}
            <a class="nav-item nav-link" href="{% url "accounts:logout" %}">
              {% trans "Logout" %}
            </a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      {% block main %}
      {% endblock %}
    </main>

    <footer class="footer">
      <hr/>
      {% block footer %}
      {% endblock %}
    </footer>
  </div>

  <script src="{% static 'core/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'core/bootstrap-4/js/bootstrap.js' %}"></script>
</body>

</html>
