{% extends "core/base.html" %}
{% load i18n %}

{% block main %}
{% if user.is_authenticated %}
<div class="jumbotron">
  <h1>{% blocktrans with name=user.first_name %}Welcome {{ name }}{% endblocktrans %}</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>{% trans "Notifications" %}</h4>
    <ul>
      <li>{% trans "New Products in Stock" %}</li>
      <li>{% trans "Products need to be picked up" %}</li>
      <li>{% trans "This is hardcoded" %}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>{% trans "System Updates" %}</h4>
    <ul>
      <li>{% trans "Able to place orders to providers" %}</li>
      <li>{% trans "Sending email to renters and buyers when the order is being procesed." %}</li>
      <li>{% trans "This is hardcoded" %}</li>
    </ul>
  </div>
</div>
{% else %}
<div class="jumbotron">
  <h1>{% trans "Welcome to Tektronic" %}</h1>
  <p class="lead">
    {% trans "The place for all your IT needs." %}
  </p>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>{% trans "Rentals" %}</h4>
    <p>{% trans "We have lots of items in stock that can be rented." %}</p>
  </div>
  <div class="col-md-4">
    <h4>{% trans "Purchases" %}</h4>
    <p>{% trans "Buy our Products. We have a great selection of new and used products" %}</p>
  </div>
  <div class="col-md-4">
    <h4>{% trans "Outsourcing" %}</h4>
    <p>{% trans "Have a client but don't have enough products. Partner with us" %}</p>
  </div>
</div>
{% endif %}

{% endblock %}
